# =========================
# Power Platform
# =========================

# Packaged solutions
*.zip

# Canvas app binaries
*.msapp

# =========================
# Editor / temp
# =========================
**/EditorState/

# =========================
# Build / system
# =========================
bin/
obj/

# =========================
# Logs
# =========================
*.log
*.tmp

# =========================
# OS / VS Code
# =========================
.DS_Store
Thumbs.db
.vscode/
